Adafruit-Blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-framebuf
adafruit-circuitpython-mpr121
adafruit-circuitpython-mpu6050
adafruit-circuitpython-ssd1306
adafruit-circuitpython-pca9685
adafruit-circuitpython-servokit
adafruit-circuitpython-apds9960
adafruit-circuitpython-seesaw
sparkfun-qwiic
sparkfun-qwiic-joystick
sparkfun-qwiic-vl53l1x
Adafruit-GPIO
Adafruit-PlatformDetect
Adafruit-PureIO
Adafruit-SSD1306
pyftdi
pyserial
pyusb
rpi-ws281x
RPi.GPIO
spidev
sysv-ipc
sparkfun-qwiic-proximity
adafruit-circuitpython-busdevice
sparkfun-pi-servo-hat
adafruit-circuitpython-lsm6ds
sparkfun-qwiic-button
adafruit-circuitpython-pcf8574
sparkfun-qwiic-proximity
Adafruit-Blinka==8.64.0
adafruit-circuitpython-apds9960==3.1.16
adafruit-circuitpython-busdevice==5.2.13
adafruit-circuitpython-connectionmanager==3.1.5
adafruit-circuitpython-register==1.10.4
adafruit-circuitpython-requests==4.1.13
adafruit-circuitpython-rgb-display==3.14.1
adafruit-circuitpython-typing==1.12.1
Adafruit-PlatformDetect==3.82.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
lgpio==0.2.2.0
pillow==11.3.0
pip-chill==1.0.3
pyftdi==0.57.1
pyserial==3.5
pyusb==1.3.1
sysv-ipc==1.1.0
typing_extensions==4.15.0
webcolors==24.11.1